$atlanta-hawks-bgColor: #e21a37;
$atlanta-hawks-gradient-1: #e21a37;
$atlanta-hawks-gradient-2: #e21a37;
$atlanta-hawks-gradient-3: #0b1a36;

$boston-celtics-bgColor: #00611b;
$boston-celtics-gradient-1: #00611b;
$boston-celtics-gradient-2: #00611b;
$boston-celtics-gradient-3: #0b1a36;

$brooklyn-nets-bgColor: #000;
$brooklyn-nets-gradient-1: #000;
$brooklyn-nets-gradient-2: #000;
$brooklyn-nets-gradient-3: #0b1a36;

$charlotte-hornets-bgColor: #00848e;
$charlotte-hornets-gradient-1: #00848e;
$charlotte-hornets-gradient-2: #00848e;
$charlotte-hornets-gradient-3: #0b1a36;

$chicago-bulls-bgColor: #b00203;
$chicago-bulls-gradient-1: #b00203;
$chicago-bulls-gradient-2: #b00203;
$chicago-bulls-gradient-3: #0b1a36;

$cleveland-cavaliers-bgColor: #860038;
$cleveland-cavaliers-gradient-1: #860038;
$cleveland-cavaliers-gradient-2: #860038;
$cleveland-cavaliers-gradient-3: #0b1a36;

$dallas-mavericks-bgColor: #006bb6;
$dallas-mavericks-gradient-1: #006bb6;
$dallas-mavericks-gradient-2: #006bb6;
$dallas-mavericks-gradient-3: #0b1a36;

$denver-nuggets-bgColor: #feb927;
$denver-nuggets-gradient-1: #feb927;
$denver-nuggets-gradient-2: #feb927;
$denver-nuggets-gradient-3: #0b1a36;

$detroit-pistons-bgColor: #fa002c;
$detroit-pistons-gradient-1: #fa002c;
$detroit-pistons-gradient-2: #fa002c;
$detroit-pistons-gradient-3: #0b1a36;

$golden-state-warriors-bgColor: #039;
$golden-state-warriors-gradient-1: #039;
$golden-state-warriors-gradient-2: #039;
$golden-state-warriors-gradient-3: #0b1a36;

$houston-rockets-bgColor: #cd212b;
$houston-rockets-gradient-1: #cd212b;
$houston-rockets-gradient-2: #cd212b;
$houston-rockets-gradient-3: #0b1a36;

$indiana-pacers-bgColor: #ffb517;
$indiana-pacers-gradient-1: #ffb517;
$indiana-pacers-gradient-2: #ffb517;
$indiana-pacers-gradient-3: #0b1a36;

$la-clippers-bgColor: #ed174b;
$la-clippers-gradient-1: #ed174b;
$la-clippers-gradient-2: #ed174b;
$la-clippers-gradient-3: #0b1a36;

$los-angeles-lakers-bgColor: #fdba33;
$los-angeles-lakers-gradient-1: #fdba33;
$los-angeles-lakers-gradient-2: #fdba33;
$los-angeles-lakers-gradient-3: #0b1a36;

$memphis-grizzlies-bgColor: #5d76a9;
$memphis-grizzlies-gradient-1: #5d76a9;
$memphis-grizzlies-gradient-2: #5d76a9;
$memphis-grizzlies-gradient-3: #0b1a36;

$miami-heat-bgColor: #98002e;
$miami-heat-gradient-1: #98002e;
$miami-heat-gradient-2: #98002e;
$miami-heat-gradient-3: #0b1a36;

$milwaukee-bucks-bgColor: #00471b;
$milwaukee-bucks-gradient-1: #00471b;
$milwaukee-bucks-gradient-2: #00471b;
$milwaukee-bucks-gradient-3: #0b1a36;

$minnesota-timberwolves-bgColor: #2b6291;
$minnesota-timberwolves-gradient-1: #2b6291;
$minnesota-timberwolves-gradient-2: #2b6291;
$minnesota-timberwolves-gradient-3: #0b1a36;

$new-orleans-pelicans-bgColor: #0c2340;
$new-orleans-pelicans-gradient-1: #0c2340;
$new-orleans-pelicans-gradient-2: #0c2340;
$new-orleans-pelicans-gradient-3: #0b1a36;

$new-york-knicks-bgColor: #f58426;
$new-york-knicks-gradient-1: #f58426;
$new-york-knicks-gradient-2: #f58426;
$new-york-knicks-gradient-3: #0b1a36;

$oklahoma-city-thunder-bgColor: #002d62;
$oklahoma-city-thunder-gradient-1: #002d62;
$oklahoma-city-thunder-gradient-2: #002d62;
$oklahoma-city-thunder-gradient-3: #0b1a36;

$orlando-magic-bgColor: #0077c0;
$orlando-magic-gradient-1: #0077c0;
$orlando-magic-gradient-2: #0077c0;
$orlando-magic-gradient-3: #0b1a36;

$philadelphia-76ers-bgColor: #ef0022;
$philadelphia-76ers-gradient-1: #ef0022;
$philadelphia-76ers-gradient-2: #ef0022;
$philadelphia-76ers-gradient-3: #0b1a36;

$phoenix-suns-bgColor: #e76221;
$phoenix-suns-gradient-1: #e76221;
$phoenix-suns-gradient-2: #e76221;
$phoenix-suns-gradient-3: #0b1a36;

$portland-trail-blazers-bgColor: #c00;
$portland-trail-blazers-gradient-1: #c00;
$portland-trail-blazers-gradient-2: #c00;
$portland-trail-blazers-gradient-3: #0b1a36;

$sacramento-kings-bgColor: #51388a;
$sacramento-kings-gradient-1: #51388a;
$sacramento-kings-gradient-2: #51388a;
$sacramento-kings-gradient-3: #0b1a36;

$san-antonio-spurs-bgColor: #959191;
$san-antonio-spurs-gradient-1: #959191;
$san-antonio-spurs-gradient-2: #959191;
$san-antonio-spurs-gradient-3: #0b1a36;

$toronto-raptors-bgColor: #bd1b21;
$toronto-raptors-gradient-1: #bd1b21;
$toronto-raptors-gradient-2: #bd1b21;
$toronto-raptors-gradient-3: #0b1a36;

$utah-jazz-bgColor: #f9a11e;
$utah-jazz-gradient-1: #f9a11e;
$utah-jazz-gradient-2: #f9a11e;
$utah-jazz-gradient-3: #0b1a36;

$washington-wizards-bgColor: #cf142b;
$washington-wizards-gradient-1: #cf142b;
$washington-wizards-gradient-2: #cf142b;
$washington-wizards-gradient-3: #0b1a36;
