@import './styles/teams';

.top {
  .city-name {
    font-size: 2em;
    line-height: 100%;
    color: #ffffff;
    font-weight: bold;
    margin:0;
    padding: 0;
  }
  .team-name {
    font-size: 3.5em;
    line-height: 100%;
    color: #ffffff;
    font-weight: bold;
    margin:0;
    padding: 0;
  }
}

.container {
  // .wrapper {
  //   content: "";
  //   background: url(https://www.nba.com/assets/logos/teams/primary/web/ATL.svg) center center/100% no-repeat;
  //   opacity: 0.2;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: 0;
  // }
}