@import './styles/teams';

.top {
  .city-name {
    font-size: 2em;
    line-height: 100%;
    color: #ffffff;
    font-weight: bold;
    margin:0;
    padding: 0;
  }
  .team-name {
    font-size: 3.5em;
    line-height: 100%;
    color: #ffffff;
    font-weight: bold;
    margin:0;
    padding: 0;
  }
}