<div class="container atlanta-hawks top">
  <div class="row">
    <div class="col-lg-12">
      <div class="teamContainer">
        <img src="{{ constants.TEAM_URL + logo }}.svg" alt="" />
        <div>
          <p class="city-name">Atlanta</p>
          <p class="team-name">Hawks</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="wrapper"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form (ngSubmit)="onCreatePost(playerForm.value)" [formGroup]="playerForm" name="playerForm">
        <div class="form-group">
          <label for="team">Team</label>
          <select
            formControlName="team"
            type="text"
            class="form-control"
            id="team"
            [ngClass]="{ 'is-invalid': submitted && playerForm.team.errors }"
            (change)="setLogo($event)"
          >
            <option
              [ngStyle]="{'background-image': 'url(' + constants.TEAM_URL + item.logo + ')'}"
              value={{item.initials}} *ngFor="let item of constants.TEAM; let i = index">
              {{ item.name }}
            </option>
          </select>
          <div *ngIf="(!playerForm.controls['team'].valid && playerForm.controls['team'].touched)" class="error">Enter valid city</div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="name"
            [ngClass]="{ 'is-invalid': submitted && playerForm.name.errors }"
          />
          <div *ngIf="(!playerForm.controls['name'].valid && playerForm.controls['name'].touched)" class="error">Enter valid name</div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            formControlName="content"
            class="form-control"
            id="content"
          ></textarea>
          <div *ngIf="(!playerForm.controls['content'].valid && playerForm.controls['content'].touched)" class="error">Enter valid content</div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!playerForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <h3>{{ post.team }}</h3>
          <p>{{ post.name }}</p>
          <p>{{ post.content }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
        <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
      </div>
    </div>
  </div>
</div>
