<p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
<ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
  <li class="list-group-item" *ngFor="let post of loadedPosts">
    <h3>{{ post.team }}</h3>
    <p>{{ post.name }}</p>
    <p>{{ post.height }}cm</p>
    <p>{{ post.weight }}kg</p>
  </li>
</ul>
<p *ngIf="isFetching && !error">Loading...</p>
<div class="alert alert-danger" *ngIf="error">
  <h1>An Error Occurred!</h1>
  <p>{{ error }}</p>
  <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
</div>