<!-- <p *ngIf="loadedPosts.length < 1 && !isFetching">{{constants.ALERT.noPostAvailable}}</p> -->
<ng-container *ngIf="loadedPosts.length < 1 && !isFetching">
  <alert [message]="constants.ALERT.noPostAvailable" [msgType]="'alert-warning'"></alert>
</ng-container>
<table class="table table-dark table-striped" *ngIf="loadedPosts.length >= 1 && !isFetching">
  <thead>
    <tr>
      <ng-container *ngFor="let post of loadedPosts[0] | keyvalue">
        <th *ngIf="post.key !== 'id'">
          {{post.key}}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let post of loadedPosts; let i = index">
      <tr>
        <td>{{ post.height }}cm</td>
        <td>{{ post.name }}</td>
        <td>{{ post.team }}</td>
        <td>{{ post.weight }}kg</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<p *ngIf="isFetching && !error">Loading...</p>
<div class="alert alert-danger" *ngIf="error">
  <h1>An Error Occurred!</h1>
  <p>{{ error }}</p>
  <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
</div>