<div class="container-fluid top" [ngClass]="logo">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <logo
        [teams]="team"
        [team_url]="constants.TEAM_URL"
        [logo]="logo"></logo>
    </div>
  </div>
  <div class="row">
    <div *ngIf="logo; else nbaLogoShow">
      <background [team_url]="constants.TEAM_URL" [logo]="logo"></background>
    </div>
    <ng-template #nbaLogoShow>
      <background [team_url]="constants.NBA_URL" [logo]="constants.NBA_LOGO"></background>
    </ng-template>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-3">
      <player-form 
        (createPost)="onCreatePost($event)"
        (changeLogo)="setLogo($event)">
      </player-form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <post 
        [loadedPosts]="loadedPosts"
        [isFetching]="isFetching"
        [error]="error"
        (handleError)="handleError()"></post>
    </div>
  </div>
</div>
